/* css document */

body {
    background:  #959391;
    color:       black;
    padding:     10px 20px;
    font-family: Arial;
}

h1{
    color:           #006c3c;
    text-decoration: underline;
}

p {
    padding-left:40px;
}

ol {
    margin:         0px 500px;
    padding-top:    20px;
    padding-bottom: 20px;
    list-style-type: none;
}

li{
    border:        2px solid yellow;
    margin-bottom: 10px;
    padding:       20px 50px;
}

.nuevoparrafo{
    padding:          30px 90px;
    border:           3px solid #006c3c;
    border-radius:    20px;
    text-align:       justify;
    background-image: url("../img/fondo_1.jpg");
}

.estilo1 {
    font-weight:     bold;
    font-style:      italic;
    text-decoration: underline;
}
