@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/fondo.svg") repeat-y center / cover;
}

h1,
h2 {
    color: #009bdf;
    margin-bottom: 5px;
}

p {
    padding: 5px;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.info {
    color: black;
    background-color: white;
    border: 2px solid #2a2aff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.estructura {
    color: white;
    background-color: #2a2aff;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.duration-3 {
    animation-duration: 3s;
}

.duration-6 {
    animation-duration: 6s;
}

.delay-6 {
    animation-delay: 6s;
}

#contenedor {
    width: 90vw;
    margin: 10px auto;
    max-height: 95vh;
    justify-content: space-between;
    align-items: center;
}

#cabecera {
    flex: 1 0 60%;
    flex-wrap: wrap;
    margin: 5px auto;
    justify-content: space-around;
    align-items: center;
}

#cabecera img {
    width: 20px;
    margin: 0 5px;
}

#cuerpo1 {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.servicios {
    flex-wrap: wrap;
    flex: 0 0 55%;
    padding: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.tarifas {
    flex: 0 1 28%;
    padding: 10px;
    font-size: 0.9em;
    text-align: justify;
}

.tarifas img {
    width: 90%;
}

#menu {
    flex: 0 0 25%;
    justify-content: center;
    align-items: center;
}

#menu a {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#menu a:hover {
    background-color: white;
    color: #2a2aff;
    border: 2px solid #2a2aff;
}

#cuerpo2 {
    width: 100%;
    margin-top: -180px;
    justify-content: flex-end;
    align-items: flex-end;
}

#solapa {
    flex-wrap: wrap;
    flex: 0 0 50%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#slider img {
    width: 100%;
}

#slider {
    width: 70%;
    position: absolute;
    top: 200px;
    left: -260px;
}

.titulo {
    position: relative;
    flex: 0 0 100%
}

#titulo {
    width: 100%;
}

.texto {
    flex: 0 0 70%;
    text-align: justify;
}

#pie {
    width: 30%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    order: -1;
}
