@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: url("../img/fondo.svg") repeat-y center / cover;
    font-family: "Monaco for Powerline", sans-serif;
}

h1,
h2 {
    color: #009bdf;
    margin-bottom: 5px;
}

p {
    padding: 5px;
}

a {
    text-decoration: none;
    display: block;
    color: white;
}

ul {
    list-style: none;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.info {
    color: black;
    background-color: white;
    border: 2px solid #2a2aff;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.estructura {
    color: white;
    background-color: #2a2aff;
    border: 2px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.duration-3 {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}

.duration-6 {
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
}

.delay-6 {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
}

#contenedor {
    width: 90vw;
    margin: 10px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#cabecera {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5px auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#cabecera img {
    width: 20px;
    margin: 0 5px;
}

#cuerpo1{
    margin: 10px auto;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.servicios {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    padding: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}

.empresa{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 75%;
            flex: 1 0 75%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.tarifas, .conoce {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%;
    padding: 10px;
    font-size: 0.9em;
    text-align: justify;
}

.tarifas img {
    width: 90%;
}

.conoce img{
    width: 80%;
}

.conoce{
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

#menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#vermenu a {
    padding: 15px;
    text-align: center;
    margin: 10px;
}

#vermenu a:hover {
    background-color: white;
    color: #2a2aff;
    border: 2px solid #2a2aff;
}

#vermenu img{
    width:30px;
    margin-right:10px;
}

#cuerpo2 {
    margin: 10px auto;
    width: 100%;
    margin-top: -180px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

#solapa {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
}

#slider img {
    width: 100%;
}

#slider {
    width: 70%;
    position: absolute;
    top: 180px;
    left: -260px;
}

.titulo {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%
}

#titulo {
    width: 100%;
}

.texto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    text-align: justify;
}

#pie {
    width: 30%;
    margin: 0 auto;
    text-align:center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}

input[type=submit]{
    padding: 3px 10px;
}

.margen{
    padding: 20px;
}

#contacto{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -ms-flex-line-pack:center;
        align-content:center;
}

#mapa{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
    height: 400px;
}

#formulario{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -ms-flex-line-pack:center;
        align-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

#formulario div{
    padding: 5px;
}

#contacto a {
    padding: 5px;
    text-align:center;
}

#menuicon{
    padding:4px 4px 0 4px;
    border-radius:50%;
    display:none;
}

#menuicon img{
    width: 20px;
}

#menuicon:hover{
    background-color:#85e2ff;
    border-color:#2a2aff;
}

#gracias:target{
    opacity:1;
    pointer-events:auto;
    z-index:999;
}

#gracias a{
    color: blue;
    text-align:right;
    font-size:0.7em;
}

.gracias-contenido{
    width:300px;
    padding: 20px;
    margin: 20% auto;
    position: relative;
}

.gracias{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
}

/************************************************************************************ 780 px ******************/

@media only screen and (max-width:780px){

    #cabecera img{
        display:none;
    }

    .servicios{
        -webkit-box-flex: 1;
            -ms-flex: 1 0 70%;
                flex: 1 0 70%;
    }

    .tarifas{
        -webkit-box-flex: 1;
            -ms-flex: 1 0 45%;
                flex: 1 0 45%;
    }

    #menu{
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }

    #menuicon{
        display:block;
        position:fixed;
        top: 10px;
        left: 10px;
    }

    #vermenu{
        display:none;
    }

    #vermenu:target{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
    }

    #vermenu li{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }

    #cuerpo2{
        margin-top: 5px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    #solapa{
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }

    #slider{
        display: none;
    }

    .texto{
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
    }

    #contacto{
        -webkit-box-flex: 1;
            -ms-flex: 1 1 20%;
                flex: 1 1 20%;
    }

    #mapa{
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
    }

    #pie{
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 70%;
                flex: 0 0 70%;
        margin-top: 5px;
    }
   .conoce{
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
    }

}

/***************************************************************************** 400px **************************/
@media only screen and (max-width:400px){

    #cuerpo1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }

    #contacto{
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0;
    }

}
