/* css document */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 90vw;
  margin: 20px auto;
}

header, main, article, aside {
  display: flex;
  flex-flow: row wrap;
}

header {
  background-image: url("../img/xataka-img-header.jpg");
  background-size: cover;
  width: 100%;
  min-height: 150px;
  justify-content: flex-end;
  align-items: flex-end;
}

main {
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 10px;
}

article {
  width: 60%;
  flex-flow: row wrap;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

aside {
  width: 30%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

main h1 {
  font-size: 2em;
  margin-bottom: 0;
}

main a {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
}

header form, .subscribe {
  width: 30%;
  margin: 10px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
}

input {
  margin-top: 10px;
}

input[type=text] {
  width: 68%;
}

input[type=submit] {
  width: 30%;
  color: white;
  background-color: #bc3535;
  border: 1px solid #bc3535;
  border-radius: 5px;
}

.miniflex {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.miniflex p img {
  width: 20px;
}

.redes {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 25px;
}

.redes img {
  width: 100px;
}

.tableta {
  width: 80%;
}

.negrita {
  font-weight: bold;
}

h2 {
  width: 100%;
}

h3 {
  margin-bottom: 0;
}

.borde_top {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid #ccc;
}

.sociales {
  width: 100%;
  margin-top: 30px;
}

.subscribe {
  width: 100%;
  margin: 0;
}

footer {
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 0.9em;
  padding: 5px;
}

.enlaces {
  flex: 1 1 auto;
  align-self: flex-start;
}

.enlaces h2 {
  font-size: 1em;
  border-bottom: 1px solid #999;
}

.enlaces a {
  text-decoration: none;
  color: #999;
}

.enlaces ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.versiones {
  margin: 0 5px;
}
