@charset "UTF-8";

/* CSS DOCUMENT */

body, a, ul, p, h1, div, img {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #aaa;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 20px;
}

.contenedor {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cabecera {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 3px solid #466c00;
    background-color: white;
    z-index: 1000;
}

.logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 15%;
}

.logo img {
    width: 100%;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu li:first-child {
    border-right: 1px solid black;
}

.menu li a {
    line-height: 2em;
    padding: 0 25px;
}

.menu li a:hover {
    background-color: #aaa;
    color: white;
}

.cuerpo{
    padding-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    width: 100%;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: start;
    align-content: flex-start;    
}

.izda{
    float:left;
    width: 200px;
}

.menucuerpo{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}

.menucuerpo a{
    padding: 10px 25px;
    border: 2px solid #466c00;
    text-align: center;
    margin-bottom: 5px;
}

.menucuerpo a:hover{
    background-color: #ccc;
}

.contenido{
    -webkit-box-flex:0;
    -ms-flex:0 0 50%;
    flex:0 0 50%;

}