/* CSS DOCUMENT */

html {
    padding: 15px;
    font-family: verdana;
}

main {
    margin: 10px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    margin-top: 0;
    border-bottom: 2px solid black;
}

#central {
    flex: 1 1 60%;
    margin: 0 10px;
    text-align: justify;
}

#parrafoIzda {
    position: relative;
    width: 49%;
    float: left;
}

#parrafoIzda img {
    float: left;
}

#parrafoDcha {
    position: relative;
    width: 49%;
    float: right;
}

#parrafoDcha img {
    float: left;
}

#dcha {
    flex: 0 1 15%
}

#menu {
    border: 2px solid black;
    flex: 0 1 12%;
}

#menu ul {
    padding-left: 25px;
}

a {
    color: black;
}

h2 {
    margin: 0;
    padding: 0;
    background-color: #243de8;
    border-bottom: 2px solid black;
    color: white;
    font-weight: normal;
    text-align: center;
}
