@charset 'UTF-8'; /*CSS DOCUMENT */

body,
ul,
img{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

.diapositivas,
.diapositivas:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.diapositivas:after { 
    content: '';
    background: rgba(0,0,0,.2); 
}
.diapositivas li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: animacion 36s linear infinite 0s; 
}
.diapositivas li:nth-child(1) { 
    background-image: url(../img/1.jpg);
}

/* animación-delay cada 6 segundos porque los 36 segundos
   totales se dividen entre las seis imágenes */
.diapositivas li:nth-child(2) { 
    background-image: url(../img/2.jpg);
    animation-delay: 6s; 
}
.diapositivas li:nth-child(3) { 
    background-image: url(../img/3.jpg);
    animation-delay: 12s; 
}
.diapositivas li:nth-child(4) { 
    background-image: url(../img/1.jpg);
    animation-delay: 18s;
}
.diapositivas li:nth-child(5) { 
    background-image: url(../img/2.jpg);
    animation-delay: 24s; 
}
.diapositivas li:nth-child(6) { 
    background-image: url(../img/3.jpg);
    animation-delay: 30s; 
}


/* Animación para las imágenes 
 Se inicia con transparencia y lo mantengo
 visto durante 16 segundos (del 8% al 17%)
 y después se vuelve a hacer transparente */
@keyframes animacion { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

