    @charset "utf-8";

/* css document */

@font-face {
    font-family: 'Monaco';
    src: url("../fonts/Monaco_Linux-Powerline.ttf") format("ttf");
}

html,
body {
    height: 100%;
}

html {
    font-family: "Monaco", "Roboto", sans-serif;
}

body {
    background: url('../img/Logoforpi_grande.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

main {
    margin-top: 150px;
}

.page-footer p {
    margin: 0;
    padding: 0;
}

.nav-content {
    text-align: center;
}

.fixed-action-btn.horizontal ul {
    width: 350px;
}

.contacto {
    position: relative;
}

.contacto>.fixed-action-btn {
    position: absolute;
    display: inline-block;
    right: 24px;
}

.logo {
    padding: 0;
}

.logo img {
    width: 98%;
    margin-top: 20%;
}

.logo {
    width: 120px;
    height: 120px;
}

.logo.halfway-fab {
    bottom: -50px;
}

h4.titulo {
    letter-spacing: .4em;
}

h1.titulo {
    margin: 0;
    font-size: 4em;
}

.linea {
    position: fixed;
    width: 400px;
    height: 1px;
    z-index: 1000;
    opacity: 0;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.a55 {
    top: 55px;
}

.a50 {
    top: 50px;
}

.a155 {
    top: 155px;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.a150 {
    top: 150px;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.izda-dcha {
    -webkit-animation-name: izda-dcha;
    animation-name: izda-dcha;
}

.dcha-izda {
    -webkit-animation-name: dcha-izda;
    animation-name: dcha-izda;
}

@-webkit-keyframes izda-dcha {
    0% {
        left: 100px;
        opacity: .1;
    }
    50% {
        opacity: 1;
    }
    100% {
        left: calc(100vw - 500px);
        opacity: .1;
    }
}

@keyframes izda-dcha {
    0% {
        left: 100px;
        opacity: .1;
    }
    50% {
        opacity: 1;
    }
    100% {
        left: calc(100vw - 500px);
        opacity: .1;
    }
}

@-webkit-keyframes dcha-izda {
    0% {
        left: calc(100vw - 500px);
        opacity: .1;
    }
    50% {
        opacity: 1;
    }
    100% {
        left: 100px;
        opacity: .1;
    }
}

@keyframes dcha-izda {
    0% {
        left: calc(100vw - 500px);
        opacity: .1;
    }
    50% {
        opacity: 1;
    }
    100% {
        left: 100px;
        opacity: .1;
    }
}

.titulo {
    text-shadow: 1px 1px 5px black;
}

.justificado {
    text-align: justify;
}

.subrayado {
    -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

.card-image {
    overflow: hidden;
}

.formacion {
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px #ccc;
}

.card-image img,
.patrocinio img {
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
    -webkit-transition: .4s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.card:hover img,
.patrocinio:hover img {
    -webkit-transform: scale(.9, .9);
    transform: scale(.9, .9);
}

.patrocinio img {
    width: 100%;
}

.activator {
    cursor: pointer;
}

img.materialboxed {
    width: 70%;
    border: 4px solid white;
}

.menu-movil {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

a.boton-movil {
    display: block;
    color: #558b2f;
}

.menu-fixed ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #dcedc8;
}

.menu-fixed {
    position: fixed;
    top: calc(100vh / 2);
    left: 5px;
    z-index: 900;
}

.menu-fixed ul li {
    border-bottom: 1px solid #dcedc8;
    border-left: 1px solid #dcedc8;
    border-right: 1px solid #dcedc8;
}

.menu-fixed ul li a {
    display: block;
    color: #558b2f;
    line-height: 2em;
    padding: 0 5px;
}

@media screen and (max-width:600px) {
    h4.titulo {
        letter-spacing: .2em;
    }
    main {
        margin-top: 0;
    }
    #conocenos {
        display: inline-block;
        position: relative;
        width: 100vw;
    }
    .menu-movil {
        top: 10px;
        left: 10px;
    }
    .brand-logo {
        margin-left: 10px;
    }
}