/* css document */

* {
    margin: 0;
    padding: 0;
}

body{
    padding-top:20px;
    background-color:white;
    color: black;
    font-family:Arial, sans-serif;
}

#contenedor{
    width:800px;
    margin: 0 auto;
    position:relative;
}

#cabecera{
    position:relative;
    width:100%;
    height:60px;
    border-top: 2px solid #777;
}

.logo{
    position:relative;
    width:70%;
    margin: 0 auto;
    float:right;
}

.logo img{
    margin auto;
}

#menu{
    position:relative;
    float:left;
    margin-right: 5%;
}

#menu:hover ul,
#menuopciones:target
{
    display:block;
    position:absolute;
    top: 60px;
    left:0px;
    width:800px;
}

.menuicono{
    background-color:black;
    width:30px;
    height:30px;
    margin:15px;
}

.menuicono img{
    width:100%;
}

.menuicono a{
    display:block;
}

#menu ul{
    list-style:none;
    display:none;
    z-index: 1000;
    width:100%;
}

#menu li{
    width:100%;
    border-bottom:1px solid #333;
 }

#menu ul a{
    display:block;
    padding: 5px 10px;
    width:780px;
    color:#999;
    background-color:black;
    text-decoration:none;
    padding-top: 10px;
}

#menu ul a:hover{
    color:white;
}

.aladcha{
    float:right;
}

#portada{
    clear:both;
    width:100%;
}

#titulo{
    width:100%;
}

h1{
    text-align:center;
    padding-top: 20px;
}

.subrayado{
    height:2px;
    margin: 10px auto;
    width:250px;
    background-color:black;
}

#presentacion{
    width:90%;
    margin: 20px auto;
    overflow:hidden;
}

.negrita{
    font-weight:bold;
}

.parrafo{
    position:relative;
    width:33%;
    float:left;
    overflow:hidden;
}

.izda{
    position:relative;
    width:15%;
    float:left;
}

.dcha{
    position:relative;
    width:85%;
    float:right;
}

.izda img{
    width:100%;
}

#pie{
    width:100%;
    background-color:#2e2f31;
    color:white;
    overflow:hidden;
    padding:20px 0;
}

#pie p{
    margin-bottom: 6px;
}

#pie h2{
    margin-bottom: 15px;
}

.pies-1, .pies-2{
    position:relative;
    width: 25%;
    float:left;
}

.pies-1{
    margin-left: 5%;
}

.pies-3{
    position:relative;
    width: 40%;
    float:left;
}

.correos{
    text-decoration:none;
    color:green;
}

#volver{
    position:absolute;
    bottom:10px;
    right:5px;
    background-color:#114913;
    border:1px solid #114913;
    border-radius:10px;
    z-index: 1000;
}

#volver a{
    font-weight:bold;
    font-size:2em;
    color:white;
    text-decoration:none;
    display:block;
    padding: 5px 10px 0 10px;
}

