@charset "utf-8";

/* CSS DOCUMENT */

body {
    margin: 0;
    padding: 0;
    background: url("../imagenes/fondo.JPG") no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

img{
    width: 100%;
    display: block;
}

a{
    display: block;
    text-decoration: none;
}

.cabecera,
.pie {
    width: 100%;
    background-color: black;
}

.cabecera {
    height: 40px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .9);
    z-index: 1000;
}

.content {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 0 6px;
}

.logo {
    width: 3%;
    position: relative;
    float: left;
}

.sociales {
    position: relative;
    width: 30%;
    float: right;
    margin-top: 5px;
}

.contenedor {
    width: 100%;
    position: relative;
}

.menu {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    position: relative;
    width: 16.65%;
    float: left;
    text-align: center;
    background-color: rgba(102, 102, 102, 0.8);
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: inset 0 -4px 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -4px 5px 2px rgba(0, 0, 0, 0.3);
}

.actual a,
.menu a:hover {
    background-color: crimson;
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: inset 0 -4px 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -4px 5px 2px rgba(0, 0, 0, 0.3);
    margin-top: -5px;
}

.menu a {
    line-height: 2.4em;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    transition: 0.5s;
}

.main {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0 auto 15px auto;
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.7);
}

.articulo {
    position: relative;
    width: 30%;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

.articulo h2,
.contacto h2 {
    margin: 0;
    padding-left: 20px;
    color: white;
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    background-color: #333;
}

.articulo p,
.contacto p {
    padding: 10px;
    text-align: justify;
}

.div-vacio {
    width: 100%;
    height: 100px;
}

.contacto {
    position: relative;
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px auto;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

.tabla {
    position: relative;
    width: 45%;
    float: left;
    margin: 20px auto;
}

.tabla table {
    float: right;
}

.tabla table td:nth-child(odd) {
    text-align: right;
    padding-right: 20px;
    vertical-align: top;
}

.tabla table td:nth-child(even)>* {
    border-radius: 5px;
    width: 100%;
}

.tabla table td:nth-child(even)>*:focus {
    border: 2px solid red;
}

.tabla form input[type=submit] {
    font-weight: bold;
    width: 35%;
    line-height: 2em;
    border: 2px solid #555;
}

.tabla form select {
    font-weight: bold;
}

.img-contacto {
    width: 35%;
    float: right;
    position: relative;
    margin: 20px 3% 20px 0;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

.img-contacto img {
    height: 280px;
}

.info {
    position: relative;
    width: 30%;
    float: left;
    color: #999;
    font-size: 0.8em;
    margin: 10px 20px 10px 5px;
}

.info a {
    color: #999;
}

.info a:hover {
    color: #fff;
}

.info p {
    margin: 0;
}

.email a {
    color: #fff;
}

.centrado {
    margin: auto;
    width: 30%;
}

.gracias {
    width: 50%;
    position: relative;
    margin: 200px auto;
    -webkit-box-shadow: 0 0 15px 5px #333;
    box-shadow: 0 0 25px 15px #333;
    text-align: center;
    line-height: 5em;
    font-size: 1.3em;
    border-radius: 10px;
    color: black;
    text-shadow: 2px 2px white;
}

.fotos{
    width:80%;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    margin: 0 auto 10px auto;
}

.formacion{
    width: 80%;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.8);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.formacion_boton {
    flex: 0 0 40%;
    margin: 15px;
    background-color: #bbb;
    border-radius: 10px;
    padding: 5px 3px 3px 3px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.8);
}

.formacion_boton h3{
    font-size:0.9em;
    padding: 5px;
    margin: 0;
}

.formacion_boton button{
    width: 100%;
    line-height: 2.5em;
    border: none;
    border-radius: 10px;
    background-color:#333;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    position:relative;
}

.formacion_boton button:hover{
    background-color: crimson;
    cursor: pointer;
}

.formacion_boton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 10%;
  transition: 0.5s;
}

.formacion_boton button span {
    transition: 0.5s;
}

.formacion_boton button:hover span {
  padding-right: 25px;
}

.formacion_boton button:hover span:after {
  opacity: 1;
  right: 30%;
}
