@charset "utf-8";

/* CSS DOCUMENT */

body {
    margin: 0;
    padding: 0;
    background: url("../imagenes/fondo.JPG") no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.cabecera,
.pie {
    width: 100%;
    background-color: black;
}

.cabecera {
    height: 40px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .9);
    z-index: 1000;
}

.content {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 0 6px;
}

.logo {
    width: 3%;
    position: relative;
    float: left;
}

.logo img {
    width: 100%;
}

.sociales {
    position: relative;
    width: 30%;
    float: right;
    margin-top: 5px;
}

.contenedor {
    width: 100%;
    position: relative;
}

.menu {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    z-index: -1;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    position: relative;
    width: 16.65%;
    float: left;
    text-align: center;
    background-color: rgba(102, 102, 102, 0.8);
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: inset 0 -4px 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -4px 5px 2px rgba(0, 0, 0, 0.3);
}

.actual a {
    background-color: crimson;
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: inset 0 -4px 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -4px 5px 2px rgba(0, 0, 0, 0.3);
    margin-top: -5px;
}

.menu a {
    line-height: 2.4em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    font-size: 0.9em;
}

.main {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0 auto 15px auto;
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.7);
}

.articulo {
    position: relative;
    width: 30%;
    float: left;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

.articulo h2 {
    margin: 0;
    padding-left: 20px;
    color: white;
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    background-color: #333;
}

.articulo img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.articulo p {
    padding: 10px;
    text-align: justify;
}

.div-vacio {
    width: 100%;
    height: 100px;
}

.info {
    position: relative;
    width: 30%;
    float: left;
    color: #999;
    font-size: 0.8em;
    margin: 10px 20px 10px 5px;
}

.info a {
    text-decoration: none;
    color: #999;
}

.info a:hover {
    color: #fff;
}

.info p {
    margin: 0;
}

.email a {
    color: #fff;
}

.centrado {
    margin: auto;
    width: 30%;
}
