@charset "utf-8";
/* CSS DOCUMENT */

body{
    margin: 0;
    padding: 0;
    background: url("../imagenes/fondo.JPG") no-repeat;
    background-size: cover;
}

.cabecera,
.pie{
    width: 100%;
    background-color: black;
}

.cabecera{
    height: 50px;
}

.content{
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 4%;
    position: relative;
    float:left;
}

.logo img{
    width: 100%;
}

.sociales{
    position: relative;
    width: 30%;
    float: right;
}

.contenedor{
    width: 100%;
    position: relative;
}

.menu{
    position: relative;
    width: 100%;
    overflow: hidden
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li{
    position: relative;
    width: 16.6%;
    float: left;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

.menu a{
    line-height: 2em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display:block;
}

.main{
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 5px 0;
}

.articulo{
    position: relative;
    width: 30%;
    float: left;
    border-radius: 10px;
    margin: 15px;
    background-color: rgba(200,200,200, 0.5);
}

.articulo h2{
    margin: 0;
    color:white;
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    background-color: #333;
}

.articulo img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.articulo p{
    padding: 20px;
}

.info{
    position:relative;
    width: 30%;
    float:left;
    color: #999;
    font-size: 0.8em;
    margin: 10px 30px 10px 0;
}

.info a{
    text-decoration: none;
    color: #999;
}

.info a:hover{
    color: #fff;
}

.info p{
    margin: 0;
}

.email{
    color:#fff;
}

.centrado{
    margin: auto;
    width: 30%;
}