@charset "UTF-8";

body{
    padding: 20px 50px;
}

h1{
    font-size: 1.1em;
    border-bottom:1px solid lightgreen;
}

.parte{
    width:45%;
}

.parte__titulo{
    text-decoration:underline;
    font-style:italic;
    font-weight:bold;
}

.desempleado{
    float:left;
}

.empleado{
    float: right;
}

.condiciones{
    clear:both;
}
