@charset 'utf-8';

/* Application Styles */

ul {
  list-style: none;
}

li,
ul,
h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

.contenedor,
article,
.cabecera {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

header {
  background: url(../img/bg_top.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 126px;
}

.cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cabecera .logo {
  width: 20%;
}

.cabecera .logo img {
  width: 100%;
  height: 100%;
}

nav.menus {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 70%;
}

.cabecera .menu__superior {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.cabecera .menu__superior ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70%;
}

.cabecera .menu__inferior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  width: 100%;
}

.cabecera .menu__inferior ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 85%;
}

.cabecera .menus a {
  padding: 0.8em 1.3em;
}

.cabecera .menus a:hover {
  background-color: black;
}

.presentacion {
  background: url(../img/bg_img.jpg) no-repeat;
  background-size: cover;
  height: 321px;
  width: 100%;
}

.presentacion .izda {
  width: 35%;
  padding: 5%;
}

.presentacion .izda h1 {
  color: white;
  font-size: 3em;
  font-style: italic;
  font-weight: 600;
}

.presentacion .izda h2 {
  margin-right: 10%;
  text-align: right;
  font-size: 2.5em;
  font-style: italic;
  font-family: sans-serif;
  font-weight: 100;
  color: white;
}

.presentacion .izda p {
  color: white;
}

.presentacion .izda a {
  background: url(../img/button_top.jpg) no-repeat;
  width: 70%;
  height: 31px;
  padding: 7px;
}

.presentacion .izda a:hover {
  background: url(../img/button_top_active.jpg) no-repeat;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

aside.barra-lateral {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 25%;
  background-color: aliceblue;
  padding: 20px 30px;
  overflow: hidden;
}

section.seccion {
  width: 65%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

form .radio-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

form input[type=submit],
form input[type=reset]{
  margin-left: 20px;
  border: none;
}

.destino,
.partida,
.salida,
.llegada,
.radio-buttom,
h2{
  margin-bottom: 10px;
}

.barra-lateral form {
  margin: 10% auto;
}

.form__opcion {
  width: 50%;
}

.welcome a {
  float: right;
}

a.boton_negro,
a.boton_azul,
form input[type=submit],
form input[type=reset]{
  border-radius: 3px;
  text-align: center;
  padding: 5px 15px;
  color: white;
  font-style: italic;
}

a.boton_negro,
.contact__botones input{
  background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#000));
  background: linear-gradient(#aaa, #000);
}

a.boton_negro:hover,
.contact__botones input:hover{
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#aaa));
  background: linear-gradient(#000, #aaa);
}

a.boton_azul,
form .pasajeros input[type=submit] {
  background: -webkit-gradient(linear, left top, left bottom, from(#55acc7), to(#207792));
  background: linear-gradient(#55acc7, #207792);
}

a.boton_azul:hover,
form .pasajeros input[type=submit]:hover{
  background: -webkit-gradient(linear, left top, left bottom, from(#207792), to(#55acc7));
  background: linear-gradient(#207792, #55acc7);
}

a.read_more {
  float: right;
}

.welcome a.fleet {
  margin-right: 10px;
}

.welcome h5:before {
  content: url(../img/marker_1.gif);
  padding-right: 10px;
}

.welcome p {
  margin-left: 15px;
}

.seccion .descripcion {
  color: #50a7c2;
}

h2 {
  font-style: italic;
}

a.noticias {
  color: #50a7c2;
}

.barra-separacion {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.separacion {
  margin-bottom: 20px;
}

.clientes {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
}

.cita, .gracias {
  background-image: url(../img/bg_testimonials.gif), -webkit-gradient(linear, left top, left bottom, from(#55acc7), to(#207792));
  background-image: url(../img/bg_testimonials.gif), linear-gradient(#55acc7, #207792);
  background-repeat: no-repeat;
  background-position: 10px 10px, 0;
  border-radius: 3px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  padding: 15px;
}

.cita p {
  color: white;
}

p.cita__dcha {
  text-align: right;
}

.negrita {
  font-weight: bold;
}

.imagenTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom:10px;
}

.imagenTexto img{
  margin-right: 10px;
  width: 30%;
}

.management {
  margin-top: 40px;
}

.management .imagenTexto img {
  width: 55%;
  margin-left: 10px;
}

.lista_enlaces {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
}

.lista_enlaces a,
td a,
.enlaces_sencillos a{
  color: blue;
  text-decoration: underline;
}

aside .enlaces_sencillos{
    margin-bottom: 30px;
}

.lista_enlaces ul,
.enlaces_sencillos{
  width: 45%;
  list-style-image: url(../img/marker_1.gif);
  margin-left: 15px;
}

.enlaces_sencillos{
    margin-top: 10px;
    width:100%;
}

table{
    width: 100%;
    margin-bottom: 40px;
}

tr{
    line-height: 1.5em;
}

td{
    vertical-align: top;
}

.contact {
    width:100%;
    padding: 0 10%;
}

.contact tr{
    line-height:2em;
}

.contact form input[type=text],
.contact form textarea{
    width:100%;
    border: 1px solid #50a7c2;
}

.contact__botones{
    display:flex;
    justify-content:flex-end;
}

.contact__botones input{
    width: 20%;
}

.gracias{
    margin: 25% auto;
    text-align: center;
    color: white;
}


.pie {
  background: url(../img/bg_bot.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 50px;
}
