@charset "UTF-8";
/* css document */


body{
    background-color: black;
}

.contenedor{
    width:100vw;
    height: 30vh;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
}

.caja{
    width: 30%;
    height: 90%;
    min-width: 400px;
    transition: 2s ease-out;
}

.caja:hover{
    border-radius: 100%;
}

.roja{
    background-color: red;
}

.amarilla{
    background-color:yellow;
}

.verde{
    background-color:teal;
}

.a-verde:hover{
    background-color: teal;
    transform: scale(.3,.3);
}
.a-amarilla:hover{
    background-color: yellow;
    transform: scale(1.1,1.1);
}
.a-roja:hover{
    background-color: red;
    transform: scale(1,.3);
    z-index:1000;
}

.zoom{
    filter:blur(4px);
    transition: 1s linear; 
}

.zoom:hover{
    transform:scale(1.5,1.5);
    filter: none;
    z-index:1000;
}

.lightbox{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
    position: fixed;
    width:100vw;
    height:100vh;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: 2s linear;
    background-color: rgba(0,0,0,.7);
}

.lightbox:target{
    opacity: 1;
    pointer-events: auto;
    z-index:1000;
}

.lightbox img{
    border: 3px solid white;
}

