/*css document*/

body {
    background: #777;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: rgb(245, 223, 4);
    width: 40%;
    margin: 30px auto;
    border-bottom: 4px double rgb(245, 223, 4);
}

#menu {
    list-style: none;
    width: 60%;
    margin: 0 auto;
    padding: 0;
}

#menu li {
    /* border: 2px solid rgb(245, 223, 4); */
    margin-bottom:5px;
    text-align: center;
    /* vertical-align: center; */
}

#menu li a {
    display: block;
    color: white;
    /* background-color: #9a4c4c; */
    text-decoration: none;
    font-family: verdana;
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
    filter:blur(2px);
    transition: all 1s linear;
    /* transition: background-color 2s ease; */
}

#menu li a:hover {
    display: block;
    color: lime;
    /* text-decoration: underline; */
    font-family: arial;
    font-weight: normal;
    filter: none;
    font-size: 3em;
    /* background-color: #128379; */
}
