/*css document*/

body {
    background: #777;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: rgb(245, 223, 4);
    width: 40%;
    margin: 30px auto;
    border-bottom: 4px double rgb(245, 223, 4);
}

#menu {
    list-style: none;
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

#menu li {
    border: 2px solid rgb(245, 223, 4);
    width: 15%;
    margin-bottom:5px;
    text-align: center;
    vertical-align: center;
}

#menu li a {
    display: block;
    color: white;
    background-color: #9a4c4c;
    text-decoration: none;
    font-family: verdana;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 2s ease;
}

#menu li a:hover {
    display: block;
    color: rgb(245, 223, 4);
    text-decoration: underline;
    font-family: arial;
    font-style: 30px;
    font-weight: normal;
    background-color: #128379;
}
